<ion-header>
  <ion-navbar color="morado">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lista de Pedidos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        Página
      </ion-col>
      <ion-col>
        Marca
      </ion-col>
      <ion-col>
        Codigo
      </ion-col>
      <ion-col>
        Item
      </ion-col>
      <ion-col>
        Cant
      </ion-col>
      <ion-col>
        Precio
      </ion-col>
      <ion-col>
        T Desc
      </ion-col>
      <ion-col>
        T Desc Bs.
      </ion-col>
      <ion-col>
        Nombre
      </ion-col>
      <ion-col>
        Obs
      </ion-col>
      <ion-col>
        Pago
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let pedido of lstPedidos">
      <ion-col>
        Página
      </ion-col>
      <ion-col>
        Marca
      </ion-col>
      <ion-col>
        Codigo
      </ion-col>
      <ion-col>
        Item
      </ion-col>
      <ion-col>
        Cant
      </ion-col>
      <ion-col>
        Precio
      </ion-col>
      <ion-col>
        T Desc
      </ion-col>
      <ion-col>
        T Desc Bs.
      </ion-col>
      <ion-col>
        Nombre
      </ion-col>
      <ion-col>
        Obs
      </ion-col>
      <ion-col>
        Pago
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card *ngFor="let pedido of lstPedidos">
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h2>{{pedido.nombre}} - {{pedido.desc_marca}}</h2>
          </ion-col>
          <ion-col>
            <b>Item - </b>{{pedido.item}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <b>Codigo: </b>{{pedido.codigo}}
          </ion-col>
          <ion-col>
            <b>Pago: </b>{{pedido.estado_pago}}
          </ion-col>
        </ion-row>
      </ion-grid>


    </ion-item>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <b>Cantidad:</b>{{pedido.cantidad}}
          </ion-col>
          <ion-col>
            <b>Precio:</b>{{pedido.precio}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <b>Precio Descuento:</b>{{pedido.precio_con_desc}}
          </ion-col>
          <ion-col>
            <b>Total Bolivianos:</b>{{pedido.precio_total_bs}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


  <ion-fab right bottom>
    <button ion-fab color="moradoClaro" (click)="irNuevoPedido()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
